@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

#selectInline {
    display: inline-block;
}

#selectInline select,
#selectInline p,
#selectInline input {
    display: inline;
    vertical-align: center;
    line-height: 28px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 180px;
    padding-top: 20px;
    background-color: rgb(239, 239, 239);
    transition: width 0.3s;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: black;
}

.sidebar .description {
    font-size: 14px;
}

.sidebar .nav-link:hover {
    background-color: orange;
}

.main-content {
    height: 100%;
    margin-left: 180px;
    padding: 40px;
}

@media (max-width: 400px) {
    .sidebar {
        width: 60px;
    }

    .sidebar .description {
        display: none;
    }

    .sidebar .nav-link {
        justify-content: center;
    }
    .main-content {
        margin-left: 60px;
    }
}